* {
    font-family: monospace;
}

/* General CSS */
body {
    background-color: #111111;
    margin: 0;
}

canvas {
    border: 1px solid #ffffff;
}

/* Used to position canvas and console */
.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

/* Header element */
.header {
    padding: 5px;
    margin: auto;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 10px;
}
  
/* Console CSS */
.console {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    background: #000000;
    height: 500px;
    width: 300px;
}

.console-history {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    background: #000000;
}

.console-input-log,
.console-output-log {
    box-sizing: border-box;
    padding: 6px 12px;
    font-weight: bold;
    background: #000000;
}

.console-input-log:hover,
.console-output-log:hover {
    background: rgba(255,255,255, 0.03);
}

.console-input-log {
    text-align: left;
    color: #ffffff;
}

.console-output-log {
    color:#acff28;
    text-align: left;
}

.console-input {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    outline: none;
    color: white;
    background: rgba(255,255,255,0.05);
    transition: 0.2s;
}
.console-input:hover,
.console-input:focus {
    background: rgba(255, 255, 255, 0.07);
}

/* Modal CSS ~ Shamelessly sourced from w3schools B) */ 
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.4);
     color: white;
 }

 .modal-content {
     background-color: #000000;
     margin: 10% auto;
     padding: 20px;
     border: 1px solid #ffffff;
     width: 40%;
 }

 .close {
     color: rgb(133, 133, 133);
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: rgb(248, 248, 248);
     text-decoration: none;
     cursor: pointer;
 }

 /* Span Elements */
 span.command {
    color: #ffe75d;
 }
 span.error {
    color: #ff3d3d;
 }
 span.key {
    color: #3dff8e;
 }